.section {
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;
}

.section__heading {
    font-size: 20px;
    padding: 20px;
    margin: 0;
}

.section__heading--special {
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 20px;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

@media(max-width:767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}